{#{% extends 'base.html.twig' %}#}

{#{% block title 'change mot de passe' %}#}
{#{% block body %}#}

    {#<div class="container mt-4">#}
        {#<h1>Voir les biens </h1>#}
        {#{% include 'Search/search.html.twig' %}#}
        {#<div class="row">#}
            {#{%  for property in pagination  %}#}
                {#<div class="col-md-4">#}
                    {#{% include 'Property/property.html.twig' %}#}
                {#</div>#}
            {#{% endfor %}#}
        {#</div>#}
        {#<div class="navigation">#}
            {#{{ knp_pagination_render(pagination) }}#}
        {#</div>#}
    {#</div>#}
{#{% endblock %}#}

test