{% extends 'base.html.twig' %}

{% block title %}New Option{% endblock %}

{% block body %}
    <h1>Crée une option</h1>

    {{ include('admin/option/_form.html.twig') }}

    <a href="{{ path('option_index') }}">Retour</a>
{% endblock %}
